<div>
  <h1 class="text-2xl text-center font-bold text-indigo-500">Latest Restaurants</h1>
  <div class="my-2">
    <div class="flex flex-col bg-white border shadow-md rounded-xl">
      <img class="w-full h-auto rounded-t-xl" src="https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?w=1800&t=st=1671520655~exp=1671521255~hmac=f1f38547db99bbe6a6ecdde5c8688ba2c2d6fa8d049716956ba5825e700fb55a" alt="Image Description">
      <div class="p-4 md:p-5">
        <h3 class="text-xl font-bold text-blue-500">
          Test Restaurant
        </h3>
        <p class="mt-1 mb-3 text-gray-800">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a class="w-full shadow-md bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="#">
          Go somewhere
        </a>
      </div>
    </div>
  </div>
</div>
