<div>
  <h1 class="text-2xl text-center font-bold text-indigo-500">Latest Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <div class="my-2">
      <div class="flex flex-col bg-white border shadow-md rounded-xl">
        <img class="w-full h-auto rounded-t-xl" src=''/>
        <div class="p-4 md:p-5">
          <h3 class="text-xl font-bold text-blue-500">
            <%= restaurant.name %>
          </h3>
          <p class="mt-1 mb-3 text-gray-800">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <a class="w-full shadow-md bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="#">
            Details
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
