<div class="w-full md:max-w-3xl mx-auto px-3">
  <h1 class="text-2xl text-center font-bold text-indigo-500">Latest Restaurants Added</h1>
  <% @restaurants.each do |restaurant| %>
    <div class="bg-white shadow-lg my-2 rounded">
      <img class='h-52 w-full object-cover rounded' src=<%= restaurant.image_url %> />
      <div class="p-4 flex justify-between items-end relative">
        <div>
          <h2 class='text-lg font-bold m-0'><%= restaurant.name %></h2>
          <p class='text-md opacity-75 m-0'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, nemo.</p>
        </div>
        <%= link_to "Details", restaurant_path(restaurant), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="absolute right-4 -top-5 w-11 rounded-full shadow border-white border-2" />
      </div>
    </div>
  <% end %>
</div>
